[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5-tools = "*"
pyqt5 = "*"

[dev-packages]
yapf = "*"

[requires]
python_version = "3.8"

[scripts]
designer = "pyqt5-tools designer"